<% form_for(@computer) do |f| %>
  <%= f.error_messages %>


  <div id="computer_edit_model_info" class="span-9">
	  <p>
	    <%= f.label :control %><br />
	    <%= f.text_field :control, :class => "required" %>
	  </p>
	  <p>
	    <%= f.label :serial %><br />
	    <%= f.text_field :serial, :class => "required" %>
	  </p>
	  <p>
	    <%= f.label :manufacturer %><br />
	    <%= f.text_field :manufacturer %>
	  </p>
	  <p>
	    <%= f.label :model %><br />
	    <%= f.text_field :model %>
	  </p>	
  </div>

  <div id="computer_edit_type_info" class="span-9 last">
	  <p>
		  <%= f.label :computer_type %><br />
		  <%= f.select(:computer_type, %w{ PC\ Desktop PC\ Laptop Mac\ Desktop Mac\ Laptop Printer\ -\ B&W Printer\ -\ Color Media\ Equipment Other},{:prompt => "Select a Computer Type"}) %>
	  </p>
	  <p>
		  <%= f.label :warranty_type %><br />
		  <%= f.select(:warranty_type, %w{ None AppleCare HP\ Standard HP\ Accidental Greenpages\ Accidental Printer\ CPC\ Contract Other-Standard },{:prompt => "Select a Warranty Type"}) %>
	  </p>
	  <p>
		  <%= f.label :warranty_length %><br />
		  <%= f.select(:warranty_length, [ ['none',0],['1',1], ['2',2], ['3',3], ['4',4]]) %>
	  </p>
	  <p>
		<% if @computer.is_printer? %>
		  <%= f.label :cameron_id_id %><br />
	      <%= f.text_field :cameron_id %>
		<% else %>
		  <%= f.label :part_number %><br />
	      <%= f.text_field :part_number %>
		<% end %>
	  </p>
  </div>

<div class="clear">	
</div>
  
  <div id="computer_edit_purchase_info" class="span-9">
  	  <p>
	    <%= f.label :purchase_date %><br />
	    <%= f.text_field :purchase_date, :class => 'date_entry_field' %>
	  </p>
	  <p>
	    <%= f.label :purchase_price %><br />
	    $<%= f.text_field :purchase_price %>
	  </p>
	  <p>
	    <%= f.label :purchase_acct %><br />
	    <%= f.text_field :purchase_acct %>
	  </p>	
  </div>

  <div id="computer_edit_status_info"class="span-9 last">
	  <p>
	    <%= f.label :status %><br />
	    <%= f.select :status, [ ['Under CET Warranty','C'],['Non-Supported/Obsolete','O'],['Exempt from Coverage','E'],['Printer Under CPC Contract','P']] %>
	  </p>
	  <p>
	    <%= f.label :cstatus %><br />
	    <%= f.select :cstatus, [ ['Under CET Warranty','C'],['Non-Supported/Obsolete','O'],['Exempt from Coverage','E'],['Printer Under CPC Contract','P']] %>
	  </p>
	  <p>
	    <%= f.label :memory %><br />
	    <%= f.text_field :memory %>GB
	  </p>
	  <p>
	    <%= f.label :hard_drive %><br />
	    <%= f.text_field :hard_drive %>GB
	  </p>	
  </div>


<div id="hardware_assignments" class="clear">
	
	<h1>Nested Form</h1>
	<% f.fields_for :hardware_assignments do |hw| %>
	  <p>
	  	<%= hw.label :id, 'Department' %>
		<%= hw.collection_select(:department_id, Department.all, :id, :name, {:prompt => "Select a Department"}) %>
	  </p>
	  <p>
	  	<%= hw.label :id, 'User' %>
		<%= hw.collection_select(:user_id, User.all, :id, :fullname, {:prompt => "Select a User", :include_blank => true}) %>
	  </p>
	<% end %>
</div>


  <p>
    <%= f.submit button_name %>
  </p>
<% end %>