<% form_for(@computer) do |f| %>
  <%= f.error_messages %>


  <div id="computer_edit_model_info" class="span-9">
	  <p>
	    <%= f.label :control %><br />
	    <%= f.text_field :control, :class => "required" %>
	  </p>
	  <p>
	    <%= f.label :serial %><br />
	    <%= f.text_field :serial, :class => "required" %>
	  </p>
	  <p>
	    <%= f.label :manufacturer %><br />
	    <%= f.text_field :manufacturer %>
	  </p>
	  <p>
	    <%= f.label :model %><br />
	    <%= f.text_field :model %>
	  </p>	
  </div>

  <div id="computer_edit_type_info" class="span-9 last">
	  <div id="computer_type_block">
		<div id="computer_type">
	  	  <p>
			<%= f.label :computer_type %><br />
			<%= f.select(:computer_type, %w{ PC\ Desktop PC\ Laptop Mac\ Desktop Mac\ Laptop Printer\ -\ B&W Printer\ -\ Color Media\ Equipment Other},{:prompt => "Select a Computer Type"}) %>
		  </p>	
	    </div>  
	    <div id="intel">
		  <p>
		    <%= f.label :intel %><br />
		    <%= f.check_box :intel %>
		  </p>	  	
	    </div>
	    <div id="ip_address">
		  <p>
		    <%= f.label :ip_address %><br />
		    <%= f.text_field :ip_address %>
		  </p>	  	
	    </div>
	  </div>
	  <div id="warranty_type">
	  	<p>
		  <%= f.label :warranty_type %><br />
		  <%= f.select(:warranty_type, %w{ None AppleCare Standard Accidental HP\ Standard HP\ Accidental Greenpages\ Accidental Printer\ CPC\ Contract Other-Standard },{:prompt => "Select a Warranty Type"}) %>
	    </p>
	    <p>
		  <%= f.label :warranty_length %><br />
		  <%= f.select(:warranty_length, [ ['none',0],['1',1], ['2',2], ['3',3], ['4',4]]) %>
	    </p>
	  </div>
	  
	  <p>
		<% if @computer.is_printer? %>
		  <%= f.label :cameron_id_id %><br />
	      <%= f.text_field :cameron_id %>
		<% else %>
		  <%= f.label :part_number %><br />
	      <%= f.text_field :part_number %>
		<% end %>
	  </p>
  </div>

<div class="clear">	
</div>
  
  <div id="computer_edit_purchase_info" class="span-9">
  	  <p>
	    <%= f.label :purchase_date %><br />
	    <%= f.text_field :purchase_date, :class => 'date_entry_field' %>
	  </p>
	  <p>
	    <%= f.label :purchase_price %><br />
	    $<%= f.text_field :purchase_price %>
	  </p>
	  <p>
	    <%= f.label :purchase_acct %><br />
	    <%= f.text_field :purchase_acct %>
	  </p>	
  </div>

  <div id="computer_edit_status_info"class="span-9 last">
	  <p>
	    <%= f.label :status %><br />
	    <%= f.select :status, [ ['Under CET Warranty','C'],['Non-Supported/Obsolete','O'],['Exempt from Coverage','E'],['Printer Under CPC Contract','P']] %>
	  </p>
	  <p>
	    <%= f.label :cstatus %><br />
	    <%= f.select :cstatus, [ ['Under CET Warranty','C'],['Non-Supported/Obsolete','O'],['Exempt from Coverage','E'],['Printer Under CPC Contract','P']] %>
	  </p>
	  <p>
	    <%= f.label :memory %><br />
	    <%= f.text_field :memory %>GB
	  </p>
	  <p>
	    <%= f.label :hard_drive %><br />
	    <%= f.text_field :hard_drive %>GB
	  </p>	
  </div>


<div id="hardware_assignments" class="clear">
	
	<h3>Inventory Information</h3>
	<% f.fields_for :hardware_assignments do |hw| %>
	  <p>
	  	<%= hw.label :id, 'Department' %>
		<%= hw.collection_select(:department_id, Department.all, :id, :name, {:prompt => "Select a Department"}) %>
	  </p>
	  <p>
	  	<%= hw.label :id, 'User' %>
		<%= hw.collection_select(:user_id, User.ordered, :id, :to_s, {:prompt => "Select a User", :include_blank => true}) %>
	  </p>
	  <br />
	  <p>
	  	<%= hw.label :id, 'Inventory Check 2010-2011' %>
	    <%= hw.check_box :inventory2010 %>
	  </p>
	  <br />
	  <div id="assignment_type">
		<p>
		  <b>ASSIGNMENT TYPE</b>	
		</p>
		
		<div class="radio_b">
	  	  <p>
	        <%= hw.label :id, 'Full-Time' %>
	        <%= hw.radio_button(:fullorpart, 'Full-Time') %>
	      </p>
	    </div>
	    <div class="radio_b">
	      <p>
	        <%= hw.label :id, 'Part-Time' %>    
	        <%= hw.radio_button(:fullorpart, 'Part-Time') %>
		  </p>
		</div>
		<div class="radio_b">
		  <p>
	 	    <%= hw.label :id, 'Special' %>    
	        <%= hw.radio_button(:fullorpart, 'Special') %>
		  </p>
		</div>
		<div class="radio_b">
		  <p>
		    <%= hw.label :id, 'Lab' %>    
	        <%= hw.radio_button(:fullorpart, 'Lab') %>
		  </p>
		</div>
		<div class="radio_b">
		  <p>
		    <%= hw.label :id, 'Kiosk' %>    
	        <%= hw.radio_button(:fullorpart, 'Kiosk') %>
		  </p>
		</div>
		<div class="radio_b">
		  <p>
		    <%= hw.label :id, 'Printer' %>    
	        <%= hw.radio_button(:fullorpart, 'Printer') %>
	      </p>
	    </div>
	  </div>
	  <br />
	  <p>
		<b>DEDICATED OR SHARED</b>
	  </p>
	  <div class="radio_b">
	    <p>
		  <%= hw.label :id, 'Dedicated' %>
	      <%= hw.radio_button(:dedicated, 'Dedicated') %>
	    </p>
	  </div>
	  <div class="radio_b">
	    <p>
	      <%= hw.label :id, 'Shared' %>
	      <%= hw.radio_button(:dedicated, 'Shared') %>
	    </p>
	  </div>

	  <br />
	  <p>
		<b>STANDARD OR NON-STANDARD</b>
	  </p>
	  <div class="radio_b">
	    <p>
	      <%= hw.label :id, 'Standard' %>
	      <%= hw.radio_button(:standard, 'Standard') %>
	    </p>
	  </div>
	  <div class="radio_b">
	    <p>
	      <%= hw.label :id, 'Non-Standard' %>
	      <%= hw.radio_button(:standard, 'Non-standard') %>
	    </p>
	  </div>

	  <br /><br />
	  
	  <div id="next-inventory">
		<p>
		  <b>NEEDS FOR NEXT UPGRADE</b><br />
		  <br />
		  <b>CURRENT:</b> <%= @computer.computer_type %>
		</p>		
	    
	    <div id="nextupgrade_macpc">
		  <p><b>Mac or PC</b></p>
	  	  <div class="radio_b">
		    <p>
		      <%= hw.label :id, 'Mac' %>
	          <%= hw.radio_button(:nextneed_macpc, 'Mac') %>
	        </p>
		  </div>
	      <div class="radio_b">
		  <p>
		    <%= hw.label :id, 'PC' %>    
	        <%= hw.radio_button(:nextneed_macpc, 'PC') %></p>
		  </div>
		  <div class="radio_b">
		    <p>
		      <%= hw.label :id, 'N/A' %>    
	          <%= hw.radio_button(:nextneed_macpc, 'N/A') %>
	        </p>
		  </div>
		</div>
        
        <div id="nextupgrade_laptopdesktop">
		  <p><b>Laptop or Desktop</b></p>
		  <div class="radio_b">
			  <p>
			    <%= hw.label :id, 'Laptop' %>
		        <%= hw.radio_button(:nextneed_laptopdesktop, 'Laptop') %>
		      </p>
			</div>
		  <div class="radio_b">
			  <p>
			    <%= hw.label :id, 'Desktop' %>    
		        <%= hw.radio_button(:nextneed_laptopdesktop, 'Desktop') %>
		      </p>
			</div>
		  <div class="radio_b">
			  <p>
			    <%= hw.label :id, 'N/A' %>    
		        <%= hw.radio_button(:nextneed_laptopdesktop, 'N/A') %>
		      </p>
			</div>
		</div>
	    <br />
		<p>
		  <b>UPGRADE NOTES:</b><br />
		  <%= hw.text_area(:nextneed_note, options = { "cols" => 40, "rows" => 10 }) %>
		</p>
	  </div>

	  <%= hw.hidden_field :updated_by, :value => current_cet_user.display_name %>	
	
	<% end %>
</div>


  <p>
    <%= f.submit button_name %>
  </p>
<% end %>