<h1>Editing computer</h1>

<% form_for(@computer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :control %><br />
    <%= f.text_field :control %>
  </p>
  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </p>
  <p>
    <%= f.label :purchase_date %><br />
    <%= f.date_select :purchase_date %>
  </p>
  <p>
    <%= f.label :purchase_price %><br />
    <%= f.text_field :purchase_price %>
  </p>
  <p>
    <%= f.label :purchase_acct %><br />
    <%= f.text_field :purchase_acct %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :cstatus %><br />
    <%= f.text_field :cstatus %>
  </p>
  <p>
    <%= f.label :memory %><br />
    <%= f.text_field :memory %>
  </p>
  <p>
    <%= f.label :hard_drive %><br />
    <%= f.text_field :hard_drive %>
  </p>

<div id="hardware_assignments">
	<% for hardware_assignment in @computer.hardware_assignments %>
	  <% fields_for "computer[hardware_assignment_attributes][]", hardware_assignment do |hardware_assignment_form| %>
	  <p>
	    <label>DEPARTMENTS</label>
	    <%= hardware_assignment_form.collection_select(:department_id, Department.all, :id, :name, {}, {:index => nil}) %>
	  </p>
	  <p>
	    <label>USERS</label>
	    <%= hardware_assignment_form.collection_select :user_id, User.ordered('last ASC'), :id, :fullname, {}, {:index => nil}  %>
	  </p>
	  <p>
	   <label>PRIMARY COMPUTER</label>
	    <%= hardware_assignment_form.select :primary_computer, [["Yes",true],["No",false]], {}, {:index => nil}  %>
	  </p>
	    <% unless hardware_assignment.new_record? %>
	      <%= hardware_assignment_form.hidden_field :id, :index => nil %>
	    <% end %>
	  <% end %>
	<% end %>	
</div>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @computer %> |
<%= link_to 'Back', computers_path %>
