<div id="paginate">
<%= will_paginate @computers %>	
</div>

<%= render :partial => 'search_by_control' %>

<h2>COMPUTERS</h2>
<%= render :partial => 'departments/filter' %>

<table cellspacing="0">
  <tr>
    <th>Control</th>
    <th>Model</th>
	<th>Serial #</th>
    <th>Manufacturer</th>
	<th>Department</th>
	<th>User</th>
	<th>Options</th>
  </tr>

<% for computer in @computers %>
  <%= render :partial => computer %>
<% end %>
</table>
<br />
<%= link_to 'New computer', new_computer_path %>
