<div id="paginate">
<%= will_paginate @computers %>	
</div>

<%= render :partial => 'search_by_control' %>

<h1>Listing computers</h1>

<table cellspacing="0">
  <tr>
    <th>Control</th>
    <th>Model</th>
    <th>Manufacturer</th>
	<th>Department</th>
	<th>User</th>
	<th>Options</th>
  </tr>

<% for computer in @computers %>
  <tr>
    <td><%= link_to computer.control, computer %></td>
    <td><%=h computer.model %></td>
    <td><%=h computer.manufacturer %></td>
	<td><%=h computer.department.name unless computer.department.nil? %></td>
	<td><%=h computer.user.fullname unless computer.user.nil? %></td>
    <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New computer', new_computer_path %>
