<div id="paginate">
<%= will_paginate @computers %>	
</div>

<%= render :partial => 'search_by_control' %>

<h1>Listing computers</h1>

<table cellspacing="0">
  <tr>
    <th>Control</th>
    <th>Model</th>
    <th>Manufacturer</th>
	<th>Department</th>
	<th>User</th>
	<th>User (from vax)</th>
	<th colspan=3>Options</th>
  </tr>

<% for computer in @computers %>
  <tr>
    <td><%=h computer.control %></td>
    <td><%=h computer.model %></td>
    <td><%=h computer.manufacturer %></td>
	<td><%=h computer.department.name unless computer.department.nil? %></td>
	<td><%=h computer.user.fullname unless computer.user.nil? %></td>
	<td><%=h computer.legacy_user  %></td>
    <td><%= link_to 'Show', computer %></td>
    <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
    <td><%= link_to 'Destroy', computer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New computer', new_computer_path %>
