<div id="paginate">
<%= will_paginate @computers %>	
</div>

<%= render :partial => 'search_by_control' %>

<h2>COMPUTERS</h2>
<%= render :partial => 'departments/filter' %>

<table cellspacing="0">
  <tr>
    <th>Control</th>
    <th>Model</th>
	<th>Serial #</th>
    <th>Manufacturer</th>
	<th>Department</th>
	<th>User</th>
	<th>Options</th>
  </tr>

<% for computer in @computers %>
  <tr>
    <td><%= link_to computer.control, computer %></td>
    <td><%=h computer.model %></td>
	<td><%=h computer.serial %></td>
    <td><%=h computer.manufacturer %></td>
	<td><%=h computer.department.name unless computer.department.nil? %></td>
	<td><%=h computer.user.fullname unless computer.user.nil? %></td>
    <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
  </tr>
<% end %>
</table>

<p>
  <strong>Filter:</strong>
  <%= link_to_unless_current "All", :filter => 'all' %> |
  <%= link_to_unless_current "PCs", :filter => 'pcs' %> |
  <%= link_to_unless_current "Macs", :filter => 'macs' %> |
  <%= link_to_unless_current "Printers", :filter => 'printers' %>
</p>

<br />

<%= link_to 'New computer', new_computer_path %>
