

<%= render 'search_by_control' %>

<h2>COMPUTERS</h2>
<%= render 'departments/filter' %>

<%= link_to 'New computer', new_computer_path, :class => "button big icon add" %><br />
<%= link_to 'Generate list as CSV', computers_path(@all_computers, :format => :csv), :class => "button" %>

<table cellspacing="0">
  <tr>
    <th>Control</th>
    <th>Model</th>
    <th>Manufacturer</th>
	<th>Department</th>
	<th>User</th>
	<th>Assignment</th>
	<th>Options</th>
  </tr>

<% for computer in @computers %>
  <%= render computer %>
<% end %>
</table>
<div id="paginate">
<%= will_paginate @computers, :class => "button-group" %>	
</div>
<br />

<div id="computer_stats">
	<h3>Current Faculty/Staff Computer Stats</h3>
	<p>Compiled at <%= Time.now.to_formatted_s(:long) %></p>
	
	<ul>
	  <li><strong>TOTAL: <%= @computers_in_use.count %></strong></li>
	  <li>Macs (Intel): <%= @computers_in_use.macs.count %> (<%= @computers_in_use.macs.intel.count %>)</li>
	  <li>PCs: <%= @computers_in_use.pcs.count %></li>
	</ul>
	
	<p>Excludes all computers marked as 'off inventory' or 'unassigned'</p>
</div>
<br />
<div id="computer_stats_chart1">
  <%= image_tag(Gchart.pie_3d ( :size => '500x200',
						         :data => [ (@computers_in_use.macs.count - @computers_in_use.macs.intel.count),@computers_in_use.macs.intel.count, @computers_in_use.pcs.count, ],
							     :labels => ['Macs', 'Intel Macs', 'PCs'] )
  ) %>
</div>
<div id="computer_stats_chart2">
<%= image_tag(Gchart.pie_3d ( :size => '500x200',
						       :data => [ @computers_in_use.macs.laptops.count, @computers_in_use.macs.desktops.count, @computers_in_use.pcs.laptops.count, @computers_in_use.pcs.desktops.count ],
							   :labels => ['Mac Laptops', 'Mac Desktops', 'PC Laptops', 'PC Desktops'] )
  ) %>
</div>