<%= render :partial => 'search_by_control' %>
<br />

<div id="computer_show_content">
	<h5>COMPUTER INFO</h5>
	<div id="computer_show_computer_info1">

		<p>
		  <b>Control:</b>
		  <%=h @computer.control %>
		</p>

		<p>
		  <b>Serial:</b>
		  <%=h @computer.serial %>
		</p>

		<p>
		  <b>Model:</b>
		  <%=h @computer.model %>
		</p>

		<p>
		  <b>Manufacturer:</b>
		  <%=h @computer.manufacturer %>
		</p>	
	</div>

	<div id="computer_show_computer_info2">
		<p>
		  <b>Status:</b>
		  <%=h @computer.status %>
		</p>

		<p>
		  <b>Cstatus:</b>
		  <%=h @computer.cstatus %>
		</p>

		<p>
		  <b>Memory:</b>
		  <%=h @computer.memory %>
		</p>

		<p>
		  <b>Hard drive:</b>
		  <%=h @computer.hard_drive %>
		</p>	
	</div>


	<div id="computer_show_purchase_info">
		<p>
		  <b>Purchase date:</b>
		  <%=h @computer.purchase_date.to_s %>
		</p>

		<p>
		  <b>Purchase price:</b>
		  <%=h number_to_currency(@computer.purchase_price) %>
		</p>

		<p>
		  <b>Purchase acct:</b>
		  <%=h @computer.purchase_acct %>
		</p>
		<p>
		  <%= link_to "Show Purchase Info from VAX", @computer, :id => 'computer_show_purchase_info_vax_link' %>
		</p>
		<div id="computer_show_purchase_info_vax">
			<h3>Purchase Info From VAX</h3>
			<p>
			  <b>Purchase date (from vax):</b>
			  <%=h @computer.legacy_purchase_date %>
			</p>
			<p>
			  <b>Purchase acct (from vax):</b>
			  <%=h @computer.legacy_account %>
			</p>	
		</div>

	</div>

	<div id="computer_show_user_info">
		<p>
		  <b>Department:</b>
		  <%=h @computer.department.name unless @computer.department.nil? %>
		</p>
		<p>
		  <b>User:</b>
		  <%=h @computer.user.fullname unless @computer.user.nil? %>
		</p>
		<p>
		  <%= link_to "Show User Info from VAX", @computer, :id => 'computer_show_user_info_vax_link' %>
		</p>
		<div id="computer_show_user_info_vax">
			<h3>User Info From VAX</h3>
			<p>
			  <b>Department:</b>
			  <%=h @computer.legacy_department %>
			</p>
			<p>
			  <b>User:</b>
			  <%=h @computer.legacy_user %>
			</p>	
		</div>

	</div>

	<div id="computer_show_comments_list">
	 <%= render :partial => 'comments/comments', :locals => {:comments => @computer.comments.ordered, :computer => @computer} %>	
	</div>

	<br />
	<br />
	<%= link_to 'Edit', edit_computer_path(@computer) %> |
	<%= link_to 'Back', computers_path %>	
</div>

