<%= render 'search_by_control' %>
<br />

<div id="computer_show_content">
	<h3>COMPUTER INFO</h3>
	<div id="computer_show_computer_info1" class="span-9">

		<p>
		  <b>Control:</b>
		  <%=h @computer.control %>
		</p>

		<p>
		  <b>Serial:</b>
		  <%=h @computer.serial %>
		</p>

		<p>
		  <b>Model:</b>
		  <%=h @computer.model %>
		</p>

		<p>
		  <b>Manufacturer:</b>
		  <%=h @computer.manufacturer %>
		</p>
		<p> 
		<% if @computer.is_printer? %>
		  <b>Cameron ID:</b>
		  <%=h @computer.cameron_id %>
		<% else %>
		  <b>Part Number:</b>
		  <%=h @computer.part_number %>
		<% end %>
		</p>
		<p>
		  <b>Type:</b>
		  <%=h @computer.computer_type %>
		</p>
	</div>

	<div id="computer_show_computer_info2" class="span-9 last">
		<p>
		  <b>Memory:</b>
		  <%=h @computer.memory %>
		</p>

		<p>
		  <b>Hard drive:</b>
		  <%=h @computer.hard_drive %>
		</p>
		
		<p>
		  <b>Warranty Type:</b>
		  <%=h @computer.warranty_type %>
		</p>
		<p>
		  <b>Warranty Length:</b>
		  <%=h pluralize(@computer.warranty_length, 'year') %>
		</p>
		<p>
		  <b>Warranty Ends:</b>
		    <%=h @computer.warranty_end_date %>
		</p>	
	</div>
	
	<div class="clear"></div>
	
	<div id="computer_show_computer_status">
	    <p>
		  <b>Status:</b>
		  <%=h @computer.status %>
		</p>

		<p>
		  <b>Cstatus:</b>
		  <%=h @computer.cstatus %>
		</p>
		
		<p>
		  <b>Maintenance Fee:</b>
		  <%=h number_to_currency(@computer.maintenance_fee, :precision => 0) unless @computer.maintenance_fee.nil? %>
		</p>
		
	</div>
	<div id="computer_show_computer_status2">
		
	</div>
	
	<div class="clear"></div>
	
	<div id="computer_show_purchase_info" class="span-9">
		<p>
		  <b>Purchase date:</b>
		  <%=h @computer.purchase_date.to_formatted_s(:long) unless @computer.purchase_date.nil? %>
		</p>

		<p>
		  <b>Purchase price:</b>
		  <%=h number_to_currency(@computer.purchase_price) %>
		</p>

		<p>
		  <b>Purchase acct:</b>
		  <%=h @computer.purchase_acct %>
		</p>
	</div>

	<div id="computer_show_user_info" class="span-9 last">
		<p>
		  <b>Department:</b>
		  <%=h @computer.departments.first.name unless @computer.departments.first.nil? %>
		</p>
		<p>
		  <b>User:</b>
		  <%=h @computer.user.fullname unless @computer.user.nil? %>
		</p>
		<p>
		  <b>Assignment Type:</b>
		  <%=h @computer.hardware_assignments.first.assignment_type unless @computer.hardware_assignments.first.nil? %>
		</p>

	    <% if @computer.hardware_assignments.first.special? %>
	    <p>
		  <b>Special:</b> 
	      <%= h @computer.hardware_assignments.first.special %>
	    </p>
	    <% end %>
		
		<% if @computer.hardware_assignments.first.inventory2010?%>
		<p>
		  <b>Included in 2010-2011 Inventory</b>
		</p>
		<% end %>
		<br />
		<p>
		  <b>Needs for Next Year:</b>
		  <%=h @computer.hardware_assignments.first.nextneed_macpc %> <%=h @computer.hardware_assignments.first.nextneed_laptopdesktop %>
		  <br />
		  <b>Note: </b> - <%=h @computer.hardware_assignments.first.nextneed_note %>
		</p>
		
		<% if @computer.hardware_assignments.first.updated_by? %>
		<p>
		  <span class="comment_user_info">Last updated by <%= h @computer.hardware_assignments.first.updated_by %> on <%= h @computer.hardware_assignments.first.updated_at.to_formatted_s(:long) unless @computer.hardware_assignments.first.nil?  %></span>
		</p>
		<% end %>
	</div>
	
	<div class="clear"></div>

	<div id="computer_show_comments_list">
	  <%= link_to 'Add Comment', nil, :id => "add_comment" %>
	  <div id="comments_list">
	    <%= render 'comments/comments', :computer => @computer %>	  	
	  </div>
	</div>

	<br />
	<br />
	<%= link_to 'Edit', edit_computer_path(@computer) %> |
	<%= link_to 'Back to Computers', computers_path %> |
	<%= link_to 'Back To Department', department_path(@computer.departments.first.id) %>	
</div>

