<p>
  <b>Control:</b>
  <%=h @computer.control %>
</p>

<p>
  <b>Serial:</b>
  <%=h @computer.serial %>
</p>

<p>
  <b>Model:</b>
  <%=h @computer.model %>
</p>

<p>
  <b>Manufacturer:</b>
  <%=h @computer.manufacturer %>
</p>

<div id="computer_show_purchase_info">
	<p>
	  <b>Purchase date:</b>
	  <%=h @computer.purchase_date.to_s %>
	</p>

	<p>
	  <b>Purchase price:</b>
	  <%=h number_to_currency(@computer.purchase_price) %>
	</p>

	<p>
	  <b>Purchase acct:</b>
	  <%=h @computer.purchase_acct %>
	</p>
	<p>
	  <b>Purchase acct (from vax):</b>
	  <%=h @computer.legacy_account %>
	</p>	
</div>

<div id="computer_show_user_info">
	<p>
	  <b>Department:</b>
	  <%=h @computer.department.name unless @computer.department.nil? %>
	</p>
	<p>
	  <b>User:</b>
	  <%=h @computer.user.fullname unless @computer.user.nil? %>
	</p>
	<h3>User info from VAX</h3>
	<p>
	  <b>Department:</b>
	  <%=h @computer.legacy_department %>
	</p>
	<p>
	  <b>User:</b>
	  <%=h @computer.legacy_user %>
	</p>
</div>
<p>
  <b>Status:</b>
  <%=h @computer.status %>
</p>

<p>
  <b>Cstatus:</b>
  <%=h @computer.cstatus %>
</p>

<p>
  <b>Memory:</b>
  <%=h @computer.memory %>
</p>

<p>
  <b>Hard drive:</b>
  <%=h @computer.hard_drive %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
