<p>
  <b>Control:</b>
  <%=h @computer.control %>
</p>

<p>
  <b>Serial:</b>
  <%=h @computer.serial %>
</p>

<p>
  <b>Model:</b>
  <%=h @computer.model %>
</p>

<p>
  <b>Manufacturer:</b>
  <%=h @computer.manufacturer %>
</p>

<p>
  <b>Purchase date:</b>
  <%=h @computer.purchase_date %>
</p>

<p>
  <b>Purchase price:</b>
  <%=h @computer.purchase_price %>
</p>

<p>
  <b>Purchase acct:</b>
  <%=h @computer.purchase_acct %>
</p>

<p>
  <b>Status:</b>
  <%=h @computer.status %>
</p>

<p>
  <b>Cstatus:</b>
  <%=h @computer.cstatus %>
</p>

<p>
  <b>Memory:</b>
  <%=h @computer.memory %>
</p>

<p>
  <b>Hard drive:</b>
  <%=h @computer.hard_drive %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
