<%= render :partial => 'search' %>

<h2>USERS</h2>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Role</th>
	<th>License</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= link_to user.fullname, user, :class => "fullname" %></td>
    <td><%=h user.role %></td>
	<td><%=h user.licenses.last.software.name unless user.licenses.last.nil? %></td>
  </tr>
<% end %>
</table>

<div id="paginate">
<%= will_paginate @users %>	
</div>

