<%= render :partial => 'search' %>
<br />

<p>
  <b>ID:</b>
  <%=h @user.id %>
</p>
<p>
  <b>Name:</b>
  <%=h @user.first %> <%=h @user.last %>
</p>

<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>

<p>
  <b>Location:</b>
  <%=h @user.building %> <%=h @user.room %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>
<p>
  <b>Phone:</b>
  <%=h number_to_phone(@user.phone, :area_code => true, :delimeter => " ") %>
</p>

<% if @user.is_facstaff? %>
  <%= render :partial => 'facstaff_computers' %>
<% elsif @user.is_gradstudent? %>
  <%= render :partial => 'grad_students' %>
<% else %>
  <%= render :partial => 'student_licenses_and_hubs' %>
<% end %>

<div class="crud_links">
	<%= link_to 'Back', users_path %>	
</div>

