<%= render :partial => 'search' %>

<br />
<p>
  <b>ID:</b>
  <%=h @user.id %>
</p>

<p>
  <b>Middle:</b>
  <%=h @user.middle %>
</p>

<p>
  <b>Last:</b>
  <%=h @user.last %>
</p>

<p>
  <b>Fullname:</b>
  <%=h @user.fullname %>
</p>

<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>

<p>
  <b>Building:</b>
  <%=h @user.building %>
</p>

<p>
  <b>Room:</b>
  <%=h @user.room %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<div id="license_box">
<h3>Software licenses</h3>
NOTE: Each student gets ONE Operating System and ONE Office Suite
	<div id="licenses">
	  <%= render :partial => 'licenses/licenses',
	 			 :locals  => {:licenses => @user.licenses,
							  :user     => @user} %>	
	</div>

	<div class="add_links">
	 <%= link_to_function('Add Operating System', nil, :id => "os_add") do |page|
		  page[:add_os].appear
	  end %>

	 <%= link_to_function('Add Office Suite', nil, :id => "office_add") do |page|
		  page[:add_office].appear
	  end %>	
	</div>
	
	<div id="add_os">
		<% form_for [@user, @license] do |f| -%>
			<p>
			  <label>OPERATING SYSTEM</label>
			  <%= f.collection_select :software_id, Software.os, :id, :name %>
			</p>
			<%= f.submit 'Add this license' %>
		<% end -%>
		<%= link_to_function("Cancel", nil) do |page|
			page[:add_os].blind_up
		  end %>	
	</div>

	<div id="add_office">
		<% form_for [@user, @license] do |f| -%>
			<p>
			  <label>OFFICE SUITE</label>
			  <%= f.collection_select :software_id, Software.office, :id, :name %>
			</p>
			<%= f.submit 'Add this license' %>
		<% end -%>
		<%= link_to_function("Cancel", nil) do |page|
			page[:add_office].blind_up
		  end %>	
	</div>
</div>

<div id="hub_box">
<h3>Hub</h3>

  <div id="hubs">
  	<%= render :partial => 'checkouts/checkouts',
	 		   :locals  => {:checkouts => @user.checkouts,
							:user     => @user} %>
  </div>
  <div class="add_links">
     <%= link_to_function('Check out hub', nil, :id => "hub_checkout_link") do |page|
		  page[:hub_checkout].appear
	  end %>  	
  </div>
  <div id="hub_checkout">
    <%= render :partial => 'hub_checkout' %>
  </div>
	
</div>
<div class="crud_links">
	<%= link_to 'Back', users_path %>	
</div>

