<%= render :partial => 'search' %>
<br />

<p>
  <b>ID:</b>
  <%=h @user.id %>
</p>

<p>
  <b>Middle:</b>
  <%=h @user.middle %>
</p>

<p>
  <b>Last:</b>
  <%=h @user.last %>
</p>

<p>
  <b>Fullname:</b>
  <%=h @user.fullname %>
</p>

<p>
  <b>Role:</b>
  <%=h @user.role %>
</p>

<p>
  <b>Building:</b>
  <%=h @user.building %>
</p>

<p>
  <b>Room:</b>
  <%=h @user.room %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<% if @user.is_facstaff? %>
  <%= render :partial => 'facstaff_computers' %>
<% elsif @user.is_gradstudent? %>
  <%= render :partial => 'grad_students' %>
<% else %>
  <%= render :partial => 'student_licenses_and_hubs' %>
<% end %>

<div class="crud_links">
	<%= link_to 'Back', users_path %>	
</div>

