<%= render 'search_by_department' %>

<h2>DEPARTMENTS</h2>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Maintenance account</th>
	<th></th>
	<th></th>
  </tr>

<% for department in @departments %>
  <tr id="<%= dom_id(department) %>" class="index-row">
    <td><%= link_to department.name, department %></td>
    <td><%=h department.maintenance_account %></td>
    <td><%= link_to 'Edit', edit_department_path(department) %></td>
    <td><%= link_to 'Destroy', department, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="paginate">
<%= will_paginate @departments %>	
</div>
<br />
<%= link_to 'New department', new_department_path %>
