<%= render :partial => 'search_by_department' %>
<br />
<p>
  <h2><%=h @department.name %></h2>
</p>

<p>
  <b>Maintenance account:</b>
  <%=h @department.maintenance_account %>
</p>

<div id="departments_show_users">
	<h3>USERS</h3>
	<%= render :partial => 'filter' %>

		<table cellspacing="0">
		  <tr>
	  	  <th>Name</th>
		    <th>Control</th>
		    <th>Type</th>
		    <th>Model</th>	
		  </tr>

		<% for computer in @computers.has_control_number %>
		  <tr>
  			<td><%= computer.hardware_assignments.first.user.fullname unless computer.hardware_assignments.first.user.nil? %></td>
  			<td><%= link_to computer.control, computer_path([computer.id]) %></td>
  			<td><%= computer.computer_type %></td>
  			<td><%= computer.model %></td> 	
		  </tr>
	  <% end %>
	  </table>	
</div>

<br \>
<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
