<%= render :partial => 'search_by_department' %>
<br />
<p>
  <h2><%=h @department.name %></h2>
</p>

<p>
  <h3>
    <b>Maintenance account:</b>
    <%=h @department.maintenance_account %>
  </h3>
</p>

<p>
  <h3>
    CURRENT YEARLY MAINTENANCE TOTAL: <b><%=h number_to_currency(@department.maintenance_fee_total) %></b>
  </h3>
</p>

<div id="departments_show_users">
	<%= render :partial => 'filter' %>

		<table cellspacing="0">
		  <tr>
	  	  <th>Name</th>
		    <th>Control</th>
		    <th>Type</th>
		    <th>Model</th>
			<th>Fee</th>
		  </tr>

		<% for computer in @computers.has_control_number %>
		  <tr>
  			<td><%= computer.hardware_assignments.first.user.fullname unless computer.hardware_assignments.first.user.nil? %></td>
  			<td><%= link_to computer.control, computer_path([computer.id]) %></td>
  			<td><%= computer.computer_type %></td>
  			<td><%= computer.model %></td>
 			<td><%=h number_to_currency(computer.maintenance_fee, :precision => 0) unless computer.maintenance_fee.nil? %></td>
		  </tr>
	  <% end %>
	  </table>	
</div>

<br \>
<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
