<%= render 'search_by_department' %>
<br />
<p>
  <h2><%=h @department.name %></h2>
</p>

<p>
  <h3>
    <b>Maintenance account:</b>
    <%=h @department.maintenance_account %>
  </h3>
</p>

<p>
  <h3>
    CURRENT YEARLY MAINTENANCE TOTAL: <b><%=h number_to_currency(@department.maintenance_fee_total) %></b>
  </h3>
</p>
<br />
<div class="button-group">
  <%= link_to 'Edit Department', edit_department_path(@department), :class => "button primary" %>
  <%= link_to "Download list(PDF)", department_path(@department, :format => "pdf"), :class => "button" %>
  <%= link_to 'Generate list as CSV', department_path(@department, :format => :csv), :class => "button" %>
  <%= link_to 'Back', departments_path, :class => "button" %>
</div>

<div id="departments_show_users">
	<%= render 'filter' %>

		<table cellspacing="0">
		  <tr>
			<th>Control</th>
	  	    <th>Name</th>
		    <th>Type</th>
		    <th>Model</th>
		    <th>Assignment</th>
			<th>Fee</th>
		  </tr>

		<% for computer in @computers.has_control_number %>
		  <tr class="index-row <%= computer.hardware_assignments.first.inventory2010 %>">
			<td><%= link_to computer.control, computer_path([computer.id]) %></td>
  			<td><%= computer.hardware_assignments.first.user.fullname unless computer.hardware_assignments.first.user.nil? %></td>
  			<td><%= computer.computer_type %></td>
  			<td><%= computer.model %></td>
			<td><%= computer.hardware_assignments.first.assignment_type %></td>
 			<td><%=h number_to_currency(computer.maintenance_fee, :precision => 0) unless computer.maintenance_fee.nil? %></td>
		  </tr>
	  <% end %>
	  </table>	
</div>
