<tr id="<%= dom_id(shift) %>">
	<td><%=h shift.cet_user.display_name %></td>
	<td class="start_time"><%=h shift.start_time.to_s(:long) unless shift.start_time.nil? %></td>
	<td class="end_time"><%=h shift.end_time.to_s(:long) unless shift.end_time.nil? %></td>
	<td><%= link_to 'Show', shift %></td>
	<td><%= link_to 'Edit', edit_shift_path(shift) %></td>
	<td><%= link_to 'Destroy', shift, :confirm => 'Are you sure?', :method => :delete %></td>
	<% if shift.end_time.nil? %>
      <td class="end_shift_form"><%= render "shifts/end_shift", :object => @shift = shift %></td>
	<% end %>
</tr>