<h1>Editing hub</h1>

<% form_for(@hub) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hub_number %><br />
    <%= f.text_field :hub_number %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @hub %> |
<%= link_to 'Back', hubs_path %>
