<h3>Editing software</h3>

<% form_for(@software) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :software_type %><br />
    <%= f.select(:software_type, %w{ OS OFFICE },{:prompt => "Select a Software Type"}) %>
  </p>
  <p>
	<%= f.label :Active %><br />
  	<%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @software %> |
<%= link_to 'Back', softwares_path %>
