<h1>Software</h1>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Type</th>
	<th>Active</th>
	<th></th>
	<th></th>
  </tr>

<% for software in @software %>
  <tr class="index-row">
    <td><%=h software.name %></td>
    <td><%=h software.software_type %></td>
	<td><%=h software.is_active?  %></td>
    <td><%= link_to 'Edit', edit_software_path(software) %></td>
    <td><%= link_to image_tag("trash.gif"), software, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New software', new_software_path, :class => "button big icon add" %>

<h2>Stats</h2>

<h3>Software Sales This Semester (Spring 2010)</h3>

<p>Total Software Sales: <%= @software.this_semester.count %></p>

<table cellspacing="0">
	<tr>
		<% @software.this_semester.each do |software| %>
		  <th><%= software.name %></th>
		<% end %>
	</tr>
	<tr>

		<% @software.this_semester.each do |software| %>
	      <td><%= software.licenses_count %></td>
	    <% end %>

	</tr>
</table>

<%= image_tag ( Gchart.pie_3d( :title  => 'Office Sales - Mac vs. PC',
							   :size   => '500x200',
							   :data   => @software.this_semester.office.chart_data,
							   :labels => @software.this_semester.office.chart_label),
							   :class => "chart" ) %>

<%= image_tag ( Gchart.pie_3d( :title  => 'OS Sales - Mac vs. PC',
							   :size   => '500x200',
							   :data   => @software.this_semester.os.chart_data,
							   :labels => @software.this_semester.os.chart_label),
							   :class => "chart" ) %>

<h3>Software Sales This Year (2010-2011)</h3>

<p>Total Software Sales: <%= @software.this_year.count %></p>

<table cellspacing="0">
	<tr>
		<% @software.this_year.each do |software| %>
		  <th><%= software.name %></th>
		<% end %>
	</tr>
	<tr>

		<% @software.this_year.each do |software| %>
	      <td><%= software.licenses_count %></td>
	    <% end %>

	</tr>
</table>

<%= image_tag ( Gchart.pie_3d( :title  => 'Office Sales - Mac vs. PC',
							   :size   => '500x200',
							   :data   => @software.this_year.office.chart_data,
							   :labels => @software.this_year.office.chart_label),
							   :class => "chart" ) %>

<%= image_tag ( Gchart.pie_3d( :title  => 'OS Sales - Mac vs. PC',
							   :size   => '500x200',
							   :data   => @software.this_year.os.chart_data,
							   :labels => @software.this_year.os.chart_label),
							   :class => "chart" ) %>


<h3>Software Sales - All-Time</h3>

<p>Total Software Sales: <%= @softwares.count %></p>

<table cellspacing="0">
	<tr>
		<% @softwares.each do |software| %>
		  <th><%= software.name %></th>
		<% end %>
	</tr>
	<tr>

		<% @softwares.each do |software| %>
	      <td><%= software.licenses_count %></td>
	    <% end %>

	</tr>
</table>

