<h1>Software</h1>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Type</th>
	<th>Active</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% for software in @softwares %>
  <tr>
    <td><%=h software.name %></td>
    <td><%=h software.software_type %></td>
	<td><%=h software.is_active?  %></td>
    <td><%= link_to 'Show', software %></td>
    <td><%= link_to 'Edit', edit_software_path(software) %></td>
    <td><%= link_to 'Destroy', software, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New software', new_software_path %>

<h2>Stats</h2>

<h3>Software Sales This Semester (Fall 2009)</h3>

<p>Total Software Sales: <%= @licenses.this_semester.count %></p>

<table cellspacing="0">
	<tr>
		<% @softwares.active.each do |software| %>
		  <th><%= software.name %></th>
		<% end %>
	</tr>
	<tr>

		<% @softwares.active.each do |software| %>
	      <td><%= software.licenses.this_semester.count %></td>
	    <% end %>

	</tr>
</table>

<%= image_tag Gchart.pie_3d(:title => 'Office Sales - Mac vs. PC', :size => '300x120',:data => [@licenses.this_semester.win_office2007_sales.count, @licenses.this_semester.mac_office2008_sales.count], :labels => ["Office 2007 (Windows)", "Office 2008 (Mac)"]) %>

<%= image_tag Gchart.pie_3d(:title => 'OS Sales - Mac vs. PC', :size => '300x120',:data => [@licenses.this_semester.win_xp_sales.count, @licenses.this_semester.win_vista_sales.count, @licenses.this_semester.mac_leopard_sales.count, @licenses.this_semester.mac_tiger_sales.count], :labels => ["XP", "Vista", "Leopard", "Tiger"]) %>

<h3>Software Sales This Year (2009)</h3>

<p>Total Software Sales: <%= @licenses.this_year.count %></p>

<table cellspacing="0">
	<tr>
		<th>Office 2007 (Windows)</th>
		<th>Office 2008 (Mac)</th>
		<th>Windows XP</th>
		<th>Windows Vista</th>
		<th>Mac OSX Leopard</th>
		<th>Mac OSX Tiger</th>
	</tr>
	<tr>
		<td><%= @licenses.this_year.win_office2007_sales.count %></td>
		<td><%= @licenses.this_year.mac_office2008_sales.count %></td>
		<td><%= @licenses.this_year.win_xp_sales.count %></td>
		<td><%= @licenses.this_year.win_vista_sales.count %></td>
		<td><%= @licenses.this_year.mac_leopard_sales.count %></td>
		<td><%= @licenses.this_year.mac_tiger_sales.count %></td>
	</tr>
</table>

<%= image_tag Gchart.pie_3d(:title => 'Office Sales - Mac vs. PC', :size => '300x120',:data => [@licenses.this_year.win_office2007_sales.count, @licenses.this_year.mac_office2008_sales.count], :labels => ["Office 2007 (Windows)", "Office 2008 (Mac)"]) %>

<%= image_tag Gchart.pie_3d(:title => 'OS Sales - Mac vs. PC', :size => '300x120',:data => [@licenses.this_year.win_xp_sales.count, @licenses.this_year.win_vista_sales.count, @licenses.this_year.mac_leopard_sales.count, @licenses.this_year.mac_tiger_sales.count], :labels => ["XP", "Vista", "Leopard", "Tiger"]) %>

<h3>Software Sales - All-Time</h3>

<p>Total Software Sales: <%= @licenses.count %></p>

<table cellspacing="0">
	<tr>
		<th>Office 2007 (Windows)</th>
		<th>Office 2008 (Mac)</th>
		<th>Windows XP</th>
		<th>Windows Vista</th>
		<th>Mac OSX Leopard</th>
		<th>Mac OSX Tiger</th>
	</tr>
	<tr>
		<td><%= @licenses.win_office2007_sales.count %></td>
		<td><%= @licenses.mac_office2008_sales.count %></td>
		<td><%= @licenses.win_xp_sales.count %></td>
		<td><%= @licenses.win_vista_sales.count %></td>
		<td><%= @licenses.mac_leopard_sales.count %></td>
		<td><%= @licenses.mac_tiger_sales.count %></td>
	</tr>
</table>

<%= image_tag Gchart.pie_3d(:title => 'Office Sales - Mac vs. PC', :size => '300x120',:data => [@licenses.win_office2007_sales.count, @licenses.mac_office2008_sales.count], :labels => ["Office 2007 (Windows)", "Office 2008 (Mac)"]) %>

<%= image_tag Gchart.pie_3d(:title => 'OS Sales - Mac vs. PC', :size => '300x120',:data => [@licenses.win_xp_sales.count, @licenses.win_vista_sales.count, @licenses.mac_leopard_sales.count, @licenses.mac_tiger_sales.count], :labels => ["XP", "Vista", "Leopard", "Tiger"]) %>