<h1>Software</h1>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Type</th>
	<th>Active</th>
	<th></th>
	<th></th>
  </tr>

<% for software in @software %>
  <tr class="index-row">
    <td><%=h software.name %></td>
    <td><%=h software.software_type %></td>
	<td><%=h software.is_active?  %></td>
    <td><%= link_to 'Edit', edit_software_path(software) %></td>
    <td><%= link_to image_tag("trash.gif"), software, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New software', new_software_path %>

<h2>Stats</h2>

<h3>Software Sales This Semester (Fall 2009)</h3>

<p>Total Software Sales: <%= @software.this_semester.count %></p>

<table cellspacing="0">
	<tr>
		<% @software.this_semester.each do |software| %>
		  <th><%= software.name %></th>
		<% end %>
	</tr>
	<tr>

		<% @software.this_semester.each do |software| %>
	      <td><%= software.licenses_count %></td>
	    <% end %>

	</tr>
</table>

<%= image_tag Gchart.pie_3d( :title => 'Office Sales - Mac vs. PC',
							 :size => '400x160',
							 :data => [@software.this_semester.individual_software("Office 2008 (Mac)").count,
								       @software.this_semester.individual_software("Office 2007 (Windows)").count],
							 :labels => ["Office 2008 (Mac)", "Office 2007 (Windows)"]) %>

<%= image_tag Gchart.pie_3d( :title => 'OS Sales - Mac vs. PC',
							 :size => '300x120',
							 :data => [@software.this_semester.individual_software("Mac OSX 10.6 Snow Leopard").count,
							  	       @software.this_semester.individual_software("OSX 10.5 Leopard").count,
							 		   @software.this_semester.individual_software("Windows 7").count,
							 		   @software.this_semester.individual_software("Windows Vista").count,
							 		   @software.this_semester.individual_software("Windows XP").count],
							 :labels => ["Snow Leopard", "Leopard", "Windows 7", "Vista", "XP"]) %>

<h3>Software Sales This Year (2009)</h3>

<p>Total Software Sales: <%= @software.this_year.count %></p>

<table cellspacing="0">
	<tr>
		<% @software.this_year.each do |software| %>
		  <th><%= software.name %></th>
		<% end %>
	</tr>
	<tr>

		<% @software.this_year.each do |software| %>
	      <td><%= software.licenses_count %></td>
	    <% end %>

	</tr>
</table>

<%= image_tag Gchart.pie_3d( :title => 'Office Sales - Mac vs. PC',
							 :size => '400x160',
							 :data => [@software.this_year.individual_software("Office 2008 (Mac)").count,
								       @software.this_year.individual_software("Office 2007 (Windows)").count],
							 :labels => ["Office 2008 (Mac)", "Office 2007 (Windows)"]) %>

<%= image_tag Gchart.pie_3d( :title => 'OS Sales - Mac vs. PC',
							 :size => '300x120',
							 :data => [@software.this_year.individual_software("Mac OSX 10.6 Snow Leopard").count,
							  	       @software.this_year.individual_software("OSX 10.5 Leopard").count,
							 		   @software.this_year.individual_software("Windows 7").count,
							 		   @software.this_year.individual_software("Windows Vista").count,
							 		   @software.this_year.individual_software("Windows XP").count],
							 :labels => ["Snow Leopard", "Leopard", "Windows 7", "Vista", "XP"]) %>


<h3>Software Sales - All-Time</h3>

<p>Total Software Sales: <%= @software.count %></p>

<table cellspacing="0">
	<tr>
		<% @software.each do |software| %>
		  <th><%= software.name %></th>
		<% end %>
	</tr>
	<tr>

		<% @software.each do |software| %>
	      <td><%= software.licenses_count %></td>
	    <% end %>

	</tr>
</table>

<%= image_tag Gchart.pie_3d( :title => 'Office Sales - Mac vs. PC',
							 :size => '400x160',
							 :data => [@software.individual_software("Office 2008 (Mac)").count,
								       @software.individual_software("Office 2007 (Windows)").count],
							 :labels => ["Office 2008 (Mac)", "Office 2007 (Windows)"]) %>

<%= image_tag Gchart.pie_3d( :title => 'OS Sales - Mac vs. PC',
							 :size => '300x120',
							 :data => [@software.individual_software("Mac OSX 10.6 Snow Leopard").count,
							  	       @software.individual_software("OSX 10.5 Leopard").count,
							 		   @software.individual_software("Windows 7").count,
							 		   @software.individual_software("Windows Vista").count,
							 		   @software.individual_software("Windows XP").count],
							 :labels => ["Snow Leopard", "Leopard", "Windows 7", "Vista", "XP"]) %>

