<h2>Advanced Search</h2>

<% form_for @search do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :mac_or_pc %><br />
    <%= f.select(:mac_or_pc, %w{ Mac PC }, {:prompt => "Select Mac or PC"}) %>
  </p>
  <p>
    <%= f.label :computer_type %><br />
    <%= f.select(:computer_type, %w{ Desktop Laptop }, {:prompt => "Select a Computer Type"}) %>
  </p>
  <p>
    <%= f.label :minimum_purchase_date %><br />
    <%= f.date_select :min_purdate, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :max_purdate %><br />
    <%= f.date_select :max_purdate %>
  </p>
  <p>
    <%= f.label :include_nameless %><br />
    <%= f.check_box("include_nameless",{},"1","0") %>
  </p>
<br />
  <p><%= f.submit "Submit" %></p>
<% end %>


