<h2>Advanced Search</h2>

<% form_for @search do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :department_id %><br />
    <%= f.collection_select :department_id, Department.all, :id, :name, {:include_blank => true, :prompt => "Select a Department"} %>
  </p>
  <p>
    <%= f.label :computer_type %><br />
    <%= f.select(:computer_type, %w{ PC\ Desktop PC\ Laptop Mac\ Desktop Mac\ Laptop Printer\ -\ B&W Printer\ -\ Color Media\ Equipment Other}, {:include_blank => true, :prompt => "Select a Computer Type"}) %>
  </p>
  <p>
    <%= f.label :min_purdate %><br />
    <%= f.date_select :min_purdate %>
  </p>
  <p>
    <%= f.label :max_purdate %><br />
    <%= f.date_select :max_purdate %>
  </p>
  <p>
    <%= f.label :include_offinventory %><br />
    <%= f.check_box :include_offinventory %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


