<h1>Search Results</h1>
<% if @search.computers.first.nil? %>
<h2>NO RESULTS FOUND</h2>

<%= link_to 'New Search', new_search_path %>

<% else %>
<%= link_to 'Export as PDF', search_path(@search, :format => :pdf) %><br />
<%= link_to 'Export as CSV', search_path(@search, :format => :csv) %><br />
<%= link_to 'New Search', new_search_path %>

<table cellspacing="0">
  <tr>
    <th>Control</th>
    <th>Model</th>
	<th>Manufacturer</th>
	<th>Department</th>
    <th>User</th>
	<th>Fee</th>
	<th class="hide_for_printing">Options</th>
  </tr>

<%= render :partial => @search.computers %>

</table>
<% end %>

