<h1>Search</h1>

<p>
  <strong>Department:</strong>
  <%=h @search.department_id %>
</p>
<p>
  <strong>Computer Type:</strong>
  <%=h @search.computer_type %>
</p>
<p>
  <strong>Min Purdate:</strong>
  <%=h @search.min_purdate %>
</p>
<p>
  <strong>Max Purdate:</strong>
  <%=h @search.max_purdate %>
</p>
<p>
  <strong>Include Offinventory:</strong>
  <%=h @search.include_offinventory %>
</p>

<p>
</p>
