<h1>Listing cet_users</h1>

<table>
  <tr>
  </tr>

<% @cet_users.each do |cet_user| %>
  <tr>
	<td><%= cet_user.display_name %></td>
    <td><%= link_to 'Show', cet_user %></td>
    <td><%= link_to 'Edit', edit_cet_user_path(cet_user) %></td>
    <td><%= link_to 'Destroy', cet_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cet_user', new_cet_user_path %>