<p>
  <b>Cet user:</b>
  <%=h @cet_user.display_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @cet_user.email %>
</p>

<div id="shifts">
	<% for shift in @cet_user.shifts %>
	  <div id="<%= dom_id(shift) %>">
		<%= shift.try(:start_time).to_formatted_s(:long) unless shift.start_time.nil? %>  TO <%= shift.try(:end_time).to_formatted_s(:long) unless shift.end_time.nil? %>
	  </div>
	<% end %>
	
	OPEN SHIFTS
	<% for shift in @cet_user.shifts.my_shifts %>
	  <div id="<%= dom_id(shift) %>">
		<%= shift.try(:start_time).to_formatted_s(:long) unless shift.start_time.nil? %>
		<%= render "shifts/end_shift", :object => @shift = shift %>	
	  </div>
	<% end %>
</div>



<%= link_to 'Edit', edit_cet_user_path(@cet_user) %> |
<%= link_to 'Back', cet_users_path %>
