<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source, :class => "required" %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.text_field :destination, :class => "required" %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>