<h2>Blackboard Course Combination Utility</h2>

<%= render 'search_by_course' %>

<a href="http://cetserv.gordon.edu/groups/cet/wiki/af66c/Blackboard_Course_Combine_Utility_on_CET_Apps.html">Instructions for creating Blackboard Course Combinations.</a>

<h2><%= link_to 'NEW COURSE COMBO', new_course_path  %></h2>

<table cellspacing="0">
  <tr>
    <th>Source</th>
    <th>Destination</th>
	<th></th>
	<th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%=h course.source %></td>
    <td><%=h course.destination %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
	<td><%= link_to(image_tag("trash.gif"), course, :confirm => 'Are you sure?', :method => :delete ) %></td>
  </tr>
<% end %>
</table>

<div id="paginate">
<%= will_paginate @courses %>	
</div>
