<div id="dvd_address_form">
<% form_for(@dvd) do |f| %>
<%= f.error_messages %>

<div class="full_name">
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field(:firstname, :class => "required name") %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>	
</div>
  <p class="clear">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </p>
  <p>
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </p>
  
<div class="city_state_zip">
	<p>
	    <%= f.label :city %><br />
	    <%= f.text_field :city %>
	  </p>
	  <p>
	    <%= f.label :state %><br />
	    <%= f.text_field :state, :size => 2 %>
	  </p>
	  <p>
	    <%= f.label :zip %><br />
	    <%= f.text_field :zip, :size => 10 %>
	  </p>	
</div>
  <p class="clear">
    <%= f.label :email %><br />
    <%= f.text_field(:email, :class => "required email") %>
  </p>
  <p>
    <%= f.label "cel phone or summer phone" %><br />
    <%= f.text_field :phone %><br />
	<span class="phone-format">No spaces, ')','(' or '-' example: 1234567890</span>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity, :size => 4 %>
  </p>
  <p>
    <%= f.label :pickup %><br />
	<%= f.select(:pickup, %w{ Send\ via\ US\ Mail Pickup\ at\ CET },{:prompt => "Select a Delivery Method"}) %>
  </p>

  <div id="paid">
   <p>
      <%= f.label :paid %><br />
	  <%= f.check_box(:paid, :id => "paid_checkbox") %>
    </p>	
  </div> 

  <div id="paid_date">
	<%= f.label :paid_date %><br />
    <%= f.text_field :paid_date, :class => 'date' %>
  </div>

  <p class="clear">
    <%= f.label :paid_with %><br />
	<%= f.select(:paid_with, %w{ Paid\ with\ Check Paid\ with\ Cash },{:prompt => "Select a Payment Method"}) %>
  </p>
  <p>
    <%= f.label :delivered %><br />
    <%= f.check_box :delivered %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>
</div>