<div id="paginate">
<%= will_paginate @dvds %>	
</div>

<%= render 'search_dvds_by_name' %>
<%= link_to 'Export as CSV', dvds_path(@dvds, :format => :csv), :id => 'dvds_csv' %><br />
<h2><%= link_to 'New DVD sale', new_dvd_path %></h2><br />
<h2>DVD Sales</h2>
<%= render 'dvds/filter' %>

<table cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Pickup</th>
    <th>Paid</th>
    <th>Paid date</th>
    <th>Paid with</th>
    <th>Delivered</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% @dvds.each do |dvd| %>
  <tr>
    <td><%=h dvd.lastname %>, <%=h dvd.firstname %></td>
    <td><%=h dvd.quantity %></td>
    <td><%=h dvd.pickup %></td>
    <td><%=h dvd.paid %></td>
    <td><%=h dvd.paid_date.to_s(:long) unless dvd.paid_date.nil? %></td>
    <td><%=h dvd.paid_with %></td>
    <td><%=h dvd.delivered %></td>
    <td><%= link_to 'Show', dvd %></td>
    <td><%= link_to 'Edit', edit_dvd_path(dvd) %></td>
    <td><%= link_to 'Destroy', dvd, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>