<div id="dvds_show">
	<p>
	  <b>Name:</b>
	  <%=h @dvd.lastname %>, <%=h @dvd.firstname %>
	</p>
	<br />
	<p>
	  <b>Address:</b><br />
	  <%=h @dvd.address1 %><br />
	  <% if @dvd.two_line_address? %>
	    <%=h @dvd.address2 %><br />
	  <% end %>
	  <%=h @dvd.city %>, <%=h @dvd.state %> <%=h @dvd.zip %>
	</p>
	<br />
	<p>
	  <b>Email:</b>
	  <%=h @dvd.email %>
	</p>

	<p>
	  <b>Phone:</b>
	  <%=h number_to_phone(@dvd.phone, :area_code => true, :delimeter => " ") %>
	</p>

	<p>
	  <b>Quantity:</b>
	  <%=h @dvd.quantity %>
	</p>

	<p>
	  <b>Pickup:</b>
	  <%=h @dvd.pickup %>
	</p>

	<p>
	  <b>Paid:</b>
	  <%=h @dvd.paid %>
	</p>

	<p>
	  <b>Paid date:</b>
	  <%=h @dvd.paid_date.to_s(:long) unless @dvd.paid_date.nil? %>
	</p>

	<p>
	  <b>Paid with:</b>
	  <%=h @dvd.paid_with %>
	</p>

	<p>
	  <b>Delivered:</b>
	  <%=h @dvd.delivered %>
	</p>
	
	<p>
	  Edited by <%= h @dvd.updated_by %> on <%= h @dvd.updated_at.to_formatted_s(:long) unless @dvd.updated_at.nil?  %>
	</p>
	
</div>
<%= link_to 'Edit', edit_dvd_path(@dvd) %> |
<%= link_to 'Back', dvds_path %>